html,body {
	height: 100%;
}

body {
	background-color: cornsilk;
	position: relative;
	font-family: 'Open Sans';
}
/*********************Navigation Bar*****************/

#navbar {
	background-color: rgba(0,0,0,.5);
	border: none;
}

#navbar a:link,#navbar a:visited {
	color: rgba(255,255,255,0.8);
}

#navbar a:hover {
	color: white;
}

/****************************************************/

.jumbotron {
	background-image: url("../images/carbon-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 350px;
}

#introSection {
	background-color: transparent;
	position: relative;
	top: -130px;
}

.img-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

#my-profile-pic {
	border: 7px solid white;
}

.jumbotron {
	padding: 0;
	margin: 0;
}

.container {
	background-color: white;
}

.footer {
	padding: 1em;
}

.footer p {
	margin: 0;
}