html,body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: cornsilk;
	position: relative;
	font-family: 'Open Sans',helvetica,sans-serif;
}
/*********************Navigation Bar*****************/

#navbar {
	background-color: rgba(0,0,0,.5);
	border: none;
	margin-bottom: 0;
}

#navbar a:link,#navbar a:visited {
	color: rgba(255,255,255,0.8);
}

#navbar a:hover {
	color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
/************************ Intro Section ****************************/

.jumbotron {
	background-image: url("../images/carbon-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50vh;
}

#introSection {
	background-color: white;
	position: relative;
}

.img-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

#my-profile-pic {
	position: relative;
	top: -100px;
	border: 7px solid white;
}

.intro-wrapper {
	position: relative;
	top: -100px;
}
/********************************************************************/

.jumbotron {
	padding: 0;
	margin: 0;
}

.container {
	background-color: white;
}

.footer {
	padding: 1em;
}

.footer p {
	margin: 0;
}